<html>
    <head>
        <title>Update Task</title>
    </head>
    <body>
        {% extends "layout.html" %}
        {% block body %}
        <br>
        
        <div class='form'>
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                {{ form.otask.label }} {{ form.otask }}
                <br>
                {{ form.ntask.label }} {{ form.ntask }}
                <br>
                {{ form.submitted }}
                <br>
            {{ message }}
            </form>
        </div>

        {% endblock body %}
    </body>
</html>